[% WRAPPER wrapper.tt
   title = "Winter Storm 2010 Survey",
   js_external_includes = [
       "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js",
       "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"
   ],
   js_template_includes = [ "qdef.js" ],
   js_includes = [ "json2.js", "main.js" ]
%]
[% END %]
